.App {
  text-align: center;
}

.App-header {
  background-color: #ffd039;
  padding: 1px;
  color: white;
  vertical-align: middle;
}

.App-title {
  font-size: 2em;
  font-family: 'Gaegu';
  margin-bottom: 1px;
  margin-left: -5%;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.em {
  height: 0.7em;
}

footer {
  font-size: 0.7em;
  color: #75601a;
}
a {
  font-size: 0.99em;
  color: #75601a;
  text-decoration: none;
}

.img_license {
  height: 2em;
  padding: 1em;
}
